/* General  Styles:*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

.social-icons a{
    display: inline-block;
    margin-right: 5px;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-right: 5px;
    color: white;
/*    wysrodkowanie*/
    line-height: 40px;
    border: 1px solid white;
}


/*Nawigacja Start: */

#nav > button span,
#nav > div > ul > li.nav-item > a
{
    color: green;

}

/*Nawigacja Stop */



/*Header*/

header#main-header {

    background-image: url("../img/header-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    position: relative;

}

header#main-header > div.content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #fff;
    font-family: 'Roboto' sans-serif;


}


header#main-header > div.content > h1 {
    /*    dzieki margin:0 nie ma odstepu nad menu*/
    margin: 0;
    font-size: 8em;
    font-weight: lighter;
    font-family: 'Roboto' sans-serif;

}

header#main-header > div.content > h1 > span {
    color: green;

}

/*Sekcja o mnie początek*/

#about-me {
    background-color: #f9fcfe;
    padding-top: 60px;
}


#about-me h2 {
    color: black;
    font-weight: lighter;
    font-size: 2em;
    margin: 0;
    padding: 10px 10px 20px;
}

#about-me > h2 > span {
    color: green;
}

div.about-position {
    position: relative;
}


div.about-position > figure > img {
    max-width: 100%;
    padding: 10px;
}

.about-content > p {
    color: black;
    text-align: justify;
}

/*sekcja o mnie koniec*/

/*sekcja moje umiejętności start*/

#umiejetnosci {
    background-color: #f9fcfe;
    padding-top: 60px;

}

#umiejetnosci > h2 {
    color: black;
    font-weight: lighter;
    font-size: 2em;
    text-align: center;
    margin: 0;
    padding: 10px;
}

#umiejetnosci > h2 > span {
    color: green;
}

#umiejetnosci > p {
    color: black;
    text-align: center;
}

section#umiejetnosci #skills-icons figure{
    margin: 0;
}
section#umiejetnosci #skills-icons figure img {
	padding: 20px;
}


/*koniec moje umiejetnosci*/

/*start portfolio*/

#moje-portfolio {
    background-color: #f9fcfe;
    padding-top: 60px;
}

#moje-portfolio > h2 {
    color: black;
    font-weight: lighter;
    font-size: 2em;
    text-align: center;
    margin: 0;
    padding: 15px 0;
}

#moje-portfolio > h2 > span {
    color: green;
}

#moje-portfolio div.port {
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
}

#moje-portfolio .row{
    padding: 0;
    margin: 0;
}
#moje-portfolio div.port-1 {
    background-image: url(../img/portfolio1.jpg);
}

#moje-portfolio div.port-2 {
    background-image: url(../img/portfolio2.jpg);

}

#moje-portfolio div.port-3 {
    background-image: url(../img/portfolio4.jpg);
    

}

#moje-portfolio div.mask {
    height: 100%;
    background-color: rgba(63, 63, 119, 0.6);
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    position: relative;
}

#moje-portfolio div.mask:hover {
    opacity: 1;

}

#moje-portfolio div.border {
    border: 2px solid white;
    height: 100%;
    
}
#moje-portfolio div.mask p {

    /*    */
    /*    opacity: 0;*/
    color: white;
    text-align: justify;
    padding: 5px;
    height: 100%;
    margin: 0;
}

/*
.mask:hover {
    opacity: 1;
}
*/

/*koniec moje-portfolio*/





/*start kontakt*/

#kontakt {
    background-color: #213b50;
/*    paddingiem ustawiamy obszar wyswietlania*/
    padding: 60px 0px 40px ;
    color: white;
}

#kontakt .box form{
    padding-top:20px;
}
#kontakt input,
#kontakt .box form textarea {
    width: 100%;
    background-color: #336699;
    color: white;
    height: 40px;
    border: 0;
}

#kontakt textarea,
#kontakt label{
    padding: 0;
    margin: 10px 0;
}

#kontakt .box form label input[type="submit"] {
    width: 30%;
    background-color: limegreen;
    border: 0;
    
}

#kontakt .social-icons{
    padding-bottom: 20px;
}
.box > h2 {
    font-weight: lighter;
    font-size: 2em;
    margin: 0;
}

.box > h2 > span {
    color: green;
}

.box > address  > a{
    color: green;
}

/* Section Contact - Stop 

/* Footer Styles - Start */
footer#main-footer {
    padding: 20px;
    color: #fff;
    background-color: #13212c;
}

footer#main-footer p {
    margin: 0;
}

/* Footer Styles - Stop */